header{
	color: white;
	background-color: darkred;
	text-align: center;
	font-size: 30px;
	padding: 3px;
}

.caption{
	text-align: center;
	line-height: 2;
	font-size: 80px;
	font-family: serif;
	letter-spacing: 10px;
}

.jacket{
	text-align: center;
}

.summary{
	text-align: center;
	font-size: 30px;
	padding: 80px;
}

h1 {
	font-size: 50px;
	text-align: center;
}

.introduction{
	text-align: center;
	font-size: 30px;
	background-color: oldlace ;
	outline: 5px dashed black;
	padding: 20px;
}

h2 {
	font-size: 30px;
}

.description{
	display: flex;
	font-size: 20px;

}

.image{
	padding: 5px;
}

.desc{
	width: 50%;
	text-align: left;
	margin-left: 20px;
}

.topic{
	text-align: center;
	font-size: 30px;
	padding: 10px;
}

ul {
	list-style: none;
	display: flex;
	gap: 50px;
}

.sns {
	text-align: center;
	font-size: 30px;
	outline: 10px double indianred;
	padding: 20px;
}

.link {
	font-size: 40px;
}

.logo{
	text-align: center;
	font-size: 30px;
	padding: 20px;
}


























































































