header{
	color: white;
	background-color: darkred;
	text-align: center;
	font-size: 30px;
	padding: 3px;
}

.caption{
	letter-spacing: 10px;
	text-align: center;
	line-height: 2;
	font-size: 80px;
	font-family: serif;
}

.jacket{
	text-align: center;
}

.summary{
	text-align: center;
	font-size: 30px;
	padding: 100px;
}

.introduction{
	text-align: center;
	font-size: 30px;
	background-color: oldlace ;
	outline: 2px dashed black;
	padding: 15px;
}

h2 {
	font-size: 30px;
}

.description{
	display: flex;
	font-size: 20px;

}

.image{
	margin-right: 5px;
}

.desc{
	width: 50%;
	margin-left: 20px;
}

.topic{
	text-align: center;
}

ul {
	list-style: none;
	display: flex;
}

.logo{
	text-align: center;
	font-size: 30px;
}















































